/******************** MAIN APP ********************/

body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

canvas {
  flex-basis: 650px;
  flex: 3;
  margin: 0 auto;
  margin-top: 50px;
}

.empty-div {
  flex: 2;
}

/******************** STATUS CONTAINER ********************/

.canvas-and-status {
  display: flex;
  justify-content: space-between;
}

.status-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.status {
  margin-left: 80px;
}

/******************** PLAYER STATUS ********************/

.player-status {
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

.player {
  margin-bottom: 15px;
}

.player-img {
  width: 45px;
}

.player-weapon-img {
  width: 35px;
}

/******************** ENEMY STATUS ********************/

.enemy-status {
  color: white;
}

.enemy {
  margin-bottom: 15px;
}
.enemy-img {
  width: 40px;
}

/******************** MODALS ********************/

.game-over-modal, .game-won-modal {
  text-align: center;
  background-color: black;
}

.play-again-text {
  margin-top: 25px;
  font-size: 10px;
}

/******************** GAME INSTRUCTIONS ********************/

.game-instructions-container {
  color: gray;
  /*margin-top: 100px;*/
  max-width: 700px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.game-instructions-enemies {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.game-instructions-boss {
  margin-bottom: 40px;
}

.game-instructions-enemy {
  display: flex;
  flex-direction: column;
  /*align-self: center;*/
}

.game-instructions-enemy-img, .game-instructions-boss-img {
  align-self: center;
  width: 50px;
}

.game-title {
  margin-bottom: 50px;
  color: white;
  font-size: 30px;
}

.instructions {
  margin-bottom: 50px;
}

.game-instructions-enemies-title, .game-instructions-boss-title, .instructions-heading {
  color: white;
  margin-bottom: 8px;
}
