body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

.canvas-and-status {
  display: flex;
  justify-content: space-between;
}

.status-container {
  flex-basis: 340px;
  display: flex;
  flex-direction: column;
}

.status {
  margin-left: 50px;
}

.player-status {
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

.player {
  margin-bottom: 15px;
}

.player-img {
  width: 45px;
}

.player-weapon-img {
  width: 35px;
}

.enemy-status {
  color: white;
}

.enemy {
  margin-bottom: 15px;
}
.enemy-img {
  width: 40px;
}

canvas {
  margin: 0 auto;
  margin-top: 50px;
}

.game-over-modal, .game-won-modal {
  text-align: center;
  background-color: black;
}

.play-again-text {
  margin-top: 25px;
  font-size: 10px;
}
