body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

.app {
  display: flex;
  justify-content: space-between;
}

.status-container {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
}

.player-status {
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

.player {
  margin-bottom: 15px;
}

.player-img {
  width: 30px;
}

.player-weapon-img {
  width: 20px;
}

.enemy-status {
  color: white;
}

.enemy {
  margin-bottom: 15px;
}
.enemy-img {
  width: 40px;
}

canvas {
  margin: 0 auto;
}
